.logoBurger {
    padding: 2rem;
    margin-bottom: 1rem;
}

.homeIcn {
    padding: 2rem;
    border-left: 6px solid orange;
}

.round {
    position: absolute;
    width: 14px;
    height: 15px;
    background-color: orange;
    border-radius: 50%;
    top: 10rem;
    left: 6.5rem;
}

.brger {
    height: 22px;
    width: 40px;

}